{% extends "base.twig" %}
{% block content %}

    <h3>Voici la galerie {{ galerie.nom }}</h3>
    <div class="galerie-details">
        <div class="image">
            <img src="{{ galerie.getThumbnail().url }}">
        </div>

        <div class="details">
            <p>Galerie "{{ galerie.nom }}" {% if galerie.isPrivate == true %} privé {% else %} public {% endif %}</p>
            <p>Créée par: {{ galerie.owner().identifiant }}</p>

        </div>

    </div>

    <a class="btn btn-primary" href="{{ galerie.id }}/photos">Voir la galerie</a>
    {% if galerie.canAccessSettings() %}
        <a class="btn btn-dark" href="{{ galerie.id }}/settings">Settings</a>
    {% endif %}

{% endblock %}