{% extends "base.twig" %}
{% block content %}
    <h2>Quelques Galeries publique</h2>
    <div class="galerie-list">
    {% if galeries is defined %}
        {% for galerie in galeries %}
            <div class="galerie-item">
                <a class="nav-link lien" href="/galerie/{{ galerie.id }}">
                    <img src="{{ galerie.getThumbnail().url }}" alt="">
                    <div>
                        <h3>{{ galerie.nom }}</h3>
                        <p>Nombre de photo(s): {{ galerie.photoCount() }}</p>
                        <p>Description: {{ galerie.description }}</p>
                    </div>
                </a>
            </div>
        {% endfor %}
    {% endif %}
    </div>
{% endblock %}