{% extends "base.twig" %}
{% block content %}
    <p id="titreImage">{{ photo.titre }}</p>
    <img src="{{ photo.url }}">
    <p id="descriptionImage">{{ photo.description }}</p>
    <form method="GET" class="settingsGalerie" action="../../{{ galerie.id }}">
        <input type="submit" value="Retourner à la galerie">
    </form>
    {% if galerie.canAccessSettings() %}
        <form method="GET" class="settingsGalerie" action="../photo/{{ photo.id }}/settings">
            <input type="submit" value="Settings">
        </form>
    {% endif %}
{% endblock %}