{% extends "base.twig" %}
{% block content %}
    <main class="homePhoto">
    <img class="photo" src="{{ photo.url }}">
        <div class="buttons">
    <a class="button" href="../../{{ galerie.id }}">Retourner à la galerie</a>
    {% if galerie.canAccessSettings() %}
        <a class="button" href="../photo/{{ photo.id }}/settings">Settings</a>
    {% endif %}
        </div>
    <div>
        <p>Titre: {{ photo.titre }}</p>
        <p>Description: {{ photo.description }}</p>
    </div>
    </main>
{% endblock %}