{% extends "base.twig" %}
{% block content %}
    <form method="POST" enctype="multipart/form-data" class="settingsGalerie">
        <div>
            {% if photo.id == '' %}
                <div>
                    <input type="file" name="image" id="image" accept="image/png, image/jpeg" required>
                </div>
            {% endif %}
            <div>
                <label for="titre">Titre</label>
                <input type="text" name="titre" id="titre" value="{{ photo.titre }}" required>
            </div>
            <div>
                <label for="description">Description</label>
                <textarea type="text" style="height: 200px; resize: vertical" name="description" id="description"
                          required>{{ photo.description }}</textarea>
            </div>
        </div>
        {% if message is defined %}
            <p class="error">{{ message }}</p>
        {% endif %}
        <input type="submit" value="Sauvegarder">
    </form>
    <form method="GET" class="settingsGalerie" action="../../../{{ galerie.id }}">
        <input type="submit" value="Annuler">
    </form>

    {% if photo.id != '' %}
        <form method="POST" class="settingsGalerie" action="/galerie/{{ galerie.id }}/photo/{{ photo.id }}/delete">
            <input type="submit" value="Delete">
        </form>
    {% endif %}
{% endblock %}