{% extends "base.twig" %}
{% block content %}
    {% if galerie.getThumbnail().url is defined %}
    <img src="{{ galerie.getThumbnail().url }}" alt="">
    {% else %}
    {% endif %}
    <form class="form" method="POST">
        <div class="formGalerie">
            <label for="titre">Titre:</label>
            <input type="text" name="titre" id="titre" value="{{ galerie.nom }}">
            <fieldset id="type">
                <label for="public">Public:</label>
                <input type="radio" id="type" name="type" value="public" {% if galerie.isPrivate == false %} checked {% endif %}>
                <label for="private">Privée:</label>
                <input type="radio" id="type" name="type" value="private" {% if galerie.isPrivate == true %} checked {% endif %}>
            </fieldset>
            <label for="description">Description:</label>
            <input type="text" name="description" id="description" value="{{ galerie.description }}">
        </div>
        <input class="btn btn-success" type="submit" value="Sauvegarder">
    </form>
    <a class="btn btn-dark" href="../{{ galerie.id }}">Annuler</a>
    <a class="btn btn-primary" href="../{{ galerie.id }}/photo/new/settings">Ajouter une photo</a>
    <form method="POST" action="/galerie/{{ galerie.id }}/delete">
        <input class="btn btn-danger" type="submit" value="Delete">
    </form>
{% endblock %}