{% extends "base.twig" %}
{% block content %}
    <div class="galerieSettings">
        {% if galerie.id is not null %}
        <img class="thumbnail" src="{{ galerie.getThumbnail().url }}" alt="">
        {% endif %}
        <div class="info">
            <form method="POST">
                <div>
                    <label for="titre">Titre:</label>
                    <input type="text" name="titre" id="titre" value="{{ galerie.nom }}">
                </div>
                <div>
                    <label for="type">Visibilité:</label>
                    <fieldset id="type" name="type">
                        <label for="public">Public:</label>
                        <input type="radio" id="type" name="type" value="public" {% if galerie.isPrivate == false %} checked {% endif %}>
                        <label for="private">Privée:</label>
                        <input type="radio" id="type" name="type" value="private" {% if galerie.isPrivate == true %} checked {% endif %}>
                    </fieldset>
                </div>
                <div>
                    <label for="description">Description:</label>
                    <input type="text" name="description" id="description" value="{{ galerie.description }}">
                </div>
                <input class="button submit" type="submit" value="Sauvegarder">
            </form>
        </div>
        <div class="buttons">
            {% if galerie.id is not null %}
            <a class="button" href="../{{ galerie.id }}/photo/new/settings">Ajouter une photo</a>
            <form method="POST" action="/galerie/{{ galerie.id }}/delete">
            <input class="button" type="submit" value="Supprimer la galerie">
            </form>
            <a class="button" href="../{{ galerie.id }}">Annuler</a>
            {% else %}
            <a class="button" href="../../galeries">Annuler</a>
            {% endif %}
        </div>
    </div>
{% endblock %}